<DOCTYPE HTML>
<html>
<body>

<form method="POST" action="/recipes/<%= @recipe.id %>" >
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <h2>Recipe Name: <input type="text" name="name"></h2>
    <h2>Ingredients: <input type="text" name="ingredients" placeholder="<%= @recipe.ingredients %>"></h2>
    <h2>Cook Time: <input type="text" name="cook_time"></h2>
    <input type="submit">
    </form>

    </body>
    </html>