<h1>Edit Recipe Form</h1>
<form method="POST" action="/recipes/<%=@recipe.id%>">
    <input type="hidden" name="_method" value="PATCH"/>
    <input type="text" name="recipe[name]" placeholder="name"/>
    <input type="text" name="recipe[ingredients]" value="<%= @recipe.ingredients %>" placeholder="ingredients">
    <input type="number" name="recipe[cook_time]" placeholder="cook_time">
    <input type="submit">
</form>