<h1>Create New Recipe</h1>
<form method="post" action="/recipes">
<input type="text" name="name" placeholder="name"/>
    <input type="text" name="ingredients" placeholder="ingredients">
    <input type="number" name="cook_time" placeholder="cook_time">
    <input type="submit">
</form>    