<label> Name: </label> <%= @recipe.name %>
<label> Ingredients: </label> <%= @recipe.ingredients %>
<label> Cook time: </label> <%= @recipe.cook_time %> minutes

<form method="POST" action="/recipes/<%=@recipe.id%>">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="delete" />
</form>