<h1><%= @recipe.name%></h1><br>
<p> <%= @recipe.ingredients%> </p>
<p> Cook Time: <%= @recipe.cook_time%> minutes</p>
<form method="POST" action="/recipes/<%= @recipe.id%>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete" id="delete">
</form>